// Breakpoints.
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers colors.
$header-heading-color: #fff !default;
$header-bg-color: #212121 !default;
$header-bg-color-secondary: #212121 !default;

// Text colors.
$section-headings-color: #212121 !default;
$body-text-color: #212121 !default;
$body-link-color: #00695C !default;
$hover-focus-color: #34495E !default;
$blockquote-text-color: #819198 !default;

// Code colors.
$code-bg-color: #e0e0e0 !default;
$code-text-color: #37474F !default;

// Borders colors.
$border-color: #e0e0e0 !default;
$table-border-color: #ffffff !default;
$hr-border-color: #eff0f1 !default;
