// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers colors
$header-heading-color: #fff !default;
$header-bg-color: #00796B !default;
$header-bg-color-secondary: #00796B !default;

// Text colors
$section-headings-color: #00796B !default;
$body-text-color: #424242 !default;
$body-link-color: #00796B !default;
$blockquote-text-color: #819198 !default;

// CodeBlock colors
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders colors
$border-color: #9E9E9E !default;
$table-border-color: #9E9E9E !default;
$hr-border-color: #eff0f1 !default;
