---
layout: default
---

<div>

    {{ content }}

    <p align="center"><img src="https://s20.postimg.cc/lie7on02l/purez.png" width="35" height="35"/></p>
    <p align="center">
     <a href="https://medium.com/zawzaww">Go to Personal Blog</a> | <a href="https://github.com/zawzaww">GitHub</a> | <a href="https://twitter.com/zawzawwme">Twitter</a>
    </p>
  
    <h2 align="center">PROJECTS &amp; WORKS</h2>
  
    <div>&nbsp;</div>
  
    <ul class="post-list">
      {% for post in site.posts %}

        <li>

          <hr/>
          
            <h2><a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a></h2>
  
            <span>{{ post.excerpt | markdownify | truncatewords: 25 }}</span>
        </li>

      {% endfor %}
    </ul>
  
  </div>
