---
layout: default
---

<div>

    {{ content }}

    <p align="center"><img-circle src="https://s20.postimg.cc/54e2xh8hp/zawzaww.jpg" alt="Avatar"/></p>
    <p align="center">
     <a href="https://medium.com/zawzaww">Personal Blog</a> | <a href="https://github.com/zawzaww">GitHub</a> | <a href="https://twitter.com/zawzawwme">Twitter</a> | <a href="https://www.instagram.com/zawzaw.me">Instagram</a>
    </p>
  
    <h2 align="center">PROJECTS &amp; WORKS</h2>
  
    <div>&nbsp;</div>
  
    <ul class="post-list">
      {% for post in site.posts %}

        <li>

          <hr/>
          
            <h2><a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a></h2>
  
            <span>{{ post.excerpt | markdownify | truncatewords: 25 }}</span>
        </li>

      {% endfor %}
    </ul>
  
  </div>
